<main class="index">

    {{!-- <input type="button" class="close" value="&#x2716"> --}}

    {{!-- <section class="user-details">
        <h2></h2>
        <h2></h2>
        <h2></h2>
        <form action="" method="post">

            <input type="hidden" name="id" value="{{info.firstname}}">
            <input type="submit" value="like">
        </form>
    </section> --}}

    <section class="filter-container">
        <form class="filter-form" action="/filteruser">
            <div class="goals">
                {{#each goals}}
                    <input type="checkbox" id="{{title}}" name="goals" value="{{_id}}">
                    <label class="fitness" for="{{title}}">{{title}}</label>
                {{/each}}
            </div>

            <input type="submit" class="apply-filter" value="Apply">
        </form>
    </section>


    <section class="container">
        <section class="user-container">
            {{#each users}}
                <div class="user" data-id="{{_id}}">
                    <div class="user-img">
                        {{#if picture }}
                            <img src="/public/uploads/{{picture}}" alt="">
                        {{/if}}
                    </div>
                    <span>{{firstname}}</span>
                </div>
            {{/each}}
        </section>
    </section>

    <div class="filter-button">
        <img class="filter-icon" src="/public/assets/icons/filter.svg" alt="filter">
    </div>

    <form action="/logout" method="post">
        <input class="logout-button" type="submit"></input>
    </form>
</main>
<script src="/public/js/userindex.js"></script>
<script src="/public/js/logout.js"></script>