<main class="index">

    <section class="filter-container">
        <form class="filter-form" action="/filteruser">
            <div class="goals">
                {{#each goals}}
                    <input type="checkbox" id="{{title}}" name="goals" value="{{_id}}">
                    <label class="fitness" for="{{title}}">{{title}}</label>
                {{/each}}
            </div>

            <input type="submit" class="apply-filter" value="Apply">
        </form>
    </section>


    <section class="container">
        <section class="user-container">
            {{#each users}}
                <div class="user">
                    <div class="user-img">
                        {{#if picture }}
                            <img src="/public/uploads/{{picture}}" alt="">
                        {{/if}}
                    </div>
                    <span>{{firstname}}</span>
                </div>
            {{/each}}
        </section>
    </section>

    <div class="filter-button">
        <img class="filter-icon" src="/public/assets/icons/filter.svg" alt="">
    </div>
     <div class="logout-button">
        <img class="logout-icon" src="/public/assets/icons/logout.svg" alt="">
    </div>
</main>
<script src="/public/js/userindex.js"></script>