<main class="profile">

<section class="container">
    <a href="/users"> 
      <img class="icon" src="/public/assets/icons/back.svg" alt="">
    </a>

  <section class="profile-container">
    <div class="user">

        <div class="profile-img">
            {{#if picture }}
            <img src="/public/uploads/{{picture}}" alt="profile picture">
            {{/if}}
        </div>

        <h2>Hello {{firstname}} welcome to your profile!</h2>
    </div>
  </section>

<a class="edit-button" href="/users/update">
  <button>
    <img src="/public/assets/icons/edit.svg" alt="">
  </button>

</a>
</section>
<section class="details-container">

<p>{{firstname}} {{lastname}}</p>
<p>{{email}}</p>
<p>{{age}}</p>

</section>

</main>